# //localhost
# VITE_API_URL=http://localhost:5000/api

VITE_API_URL=https://smart-app-info-backend.vercel.app/api
# VITE_FRONTEND_URL=http://localhost:5173/
VITE_FRONTEND_URL=https://www.smartappinfo.com/